.list {
    box-sizing: border-box;
    padding: 8px 0;
    display: flex;
    overflow: auto;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.listItem {
    user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.listItem:hover {
    background: rgba(55, 53, 47, 0.08);
}

.divider {
    height: 1px;
    margin: 8px 0;
    background: rgba(66,72,78,0.12);
    width: 100%;
}