input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.switch {
    width: 36px;
    height: 20px;
    position: relative;
    display: inline-block;
}

.input {
    border-radius: 10px;
    width: 36px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    transition: all .15s ease;
    outline: none;
    background: #c0c0c1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.input:hover {
    opacity: 0.8;
}

.round {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    content: "";
    transition: all .15s ease;
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
}
.inputChecked~.round {
    left: 18px;
}

.inputChecked {
    background: #42484E;
}