.container {
    padding: 30px;
}

.infoLabel {
    font: 25px Roboto;
    margin-bottom: 20px;
}

.infoTitle {
    font: 18px Roboto;
}
.infoValue {
    font: 15px Roboto;
    margin-left: 7px;
    align-self: end;
    color: rgba(66,72,78,0.87);
}
.infoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.descriptionContainer {

}
.descriptionLabel {
    margin-bottom: 10px;
}
.description {
    font: 14px Roboto;
    margin-top: 10px;
}
.eventInfoContainer {
    display: flex;
}
.eventData {
    min-width: 350px;
}
.invitedUserBlock {
    margin-left: 15px;
}
.userBlockLabel {
    margin-bottom: 8px;
    font: 18px Roboto;
}
.organizator {
    margin-bottom: 20px;
    padding: 0 8px;
    height: 35px;
    max-width: 200px;
    cursor: pointer;
}
.organizator:hover {
    background: rgba(55, 53, 47, 0.08);
}
.usersList {
    max-width: 200px;
    max-height: 200px;
}