.editor {
    outline: none;
}

.noteContainerWrapper {
    position: relative;
    overflow: auto;
    width: 100%;
}

.noteContainer {
    width: 80%;
    max-width: 720px;
    margin: 50px auto 35px;
}

.title {
    margin: 60px auto 0;
    width: 80%;
    max-width: 720px;
}

.taskListItem {

}