.fieldContainer {
    display: flex;
    flex-direction: column;
}

.description {
    margin-bottom: 10px;
    font: 18px Roboto;
}

.area {
    font-family: Roboto;
    color: #403866;
    line-height: 1.2;
    font-size: 16px;
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    box-sizing: border-box;
    border: 1px solid #b4aaaa;
    border-radius: 5px;
    transition: all .15s ease;
    outline: none;
    padding: 8px 8px;
    resize: none;
}

.area:focus {
    box-shadow: 0 0 0 2px #003DAE;
}

.area:hover:not(.areaError):not(:focus) {
    border-color: #373537;
}

.areaError:not(:focus) {
    border: 1px solid #c80000;
    animation: fade-in-error-border 0.15s ease-in-out;
}

.errorText {
    color: #c80000;
    animation: fade-in-error 0.15s ease-in-out;
}