.popoverLayer {
    width: 100vw;
}

.popoverContainer {
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(66, 72, 78, 0.12), 0px 4px 16px rgba(66, 72, 78, 0.2), 0px 0px 1px rgba(66, 72, 78, 0.16);
    max-width: 680px;
    min-width: 200px;
    /*animation: fade-in .15s ease-in-out;*/
}

.popoverContainer,
.controlLayer {
    position: absolute;
}

.controlLayer:hover {
    cursor: pointer;
}

/*@keyframes fade-in {*/
/*    0% {*/
/*        transform: translateY(10px);*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        transform: translateY(0);*/
/*        opacity: 1;*/
/*    }*/
/*}*/