.container {
    display: flex;
    width: 100px;
}

.input {
    height: 25px;
}

.timeListsContainer {
    display: flex;
    height: 165px;
}

.timeList {
    overflow: hidden;
}

.timeList:last-child {
    border-left: 1px solid #f0f0f0;
}

.timeList:hover {
    overflow: auto;
}

.bottomPanel {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    border-top: 1px solid #f0f0f0;
}

.listItem {
    padding-left: 14px;
}

.selectedItem {
    background-color: #e6f7ff;
}

.submitButton {
    margin-left: 5px;
}