.container {
    height: 450px;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px 45px;
}

.content {
    display: flex;
    flex-direction: column;
}

.searchWrapper {
    margin-bottom: 15px;
}

.listItem,
.searchWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listItem {
    margin-bottom: 6px;
}

.checkbox {
    margin-right: 15px;
}

.userInfo {

}

.searchField {

}