.info {
    display: flex;
    flex-grow: 1;
    min-width: 0;
}

.userData {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.infoXSmall .userData {
    margin-left: 10px;
}
.infoSmall .userData {
    margin-left: 14px;
}
.infoNormal .userData {
    margin-left: 18px;
}
.infoLarge .userData {
    margin-left: 25px;
}

.nickname {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.infoXSmall .name {
    font: 600 12px/14px Roboto;
}
.infoSmall .name {
    font: 600 16px/18px Roboto;
}
.infoNormal .name {
    font: 600 20px/22px Roboto;
}
.infoLarge .name {
    font: 600 28px/32px Roboto;
}

.email {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.infoXSmall .email {
    font: 400 10px/12px Roboto;
}
.infoSmall .email {
    font: 400 14px/16px Roboto;
}
.infoNormal .email {
    font: 400 17px/19px Roboto;
}
.infoLarge .email {
    font: 400 20px/25px Roboto;
}