.container {
    margin-top: 35px;
}

.label {
    font: 500 24px/32px Roboto;
    margin-bottom: 20px;
}

.fieldBlock:not(:last-child) {
    margin-bottom: 20px;
}

.saveButton {
    margin-top: 40px;
}