.container {
    margin-bottom: 50px;
}

.avatar {

}

.info {
    display: flex;
    align-items: center;
}

.userData {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.nickname {
    font: 600 28px/32px Roboto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
}

.email {
    font: 400 20px/25px Roboto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
}